@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");

:root {
  --grayblue: hsl(216, 30%, 68%);
  --darkvio: hsl(256, 26%, 20%);
  --verydarkvio: hsl(270, 9%, 17%);
  --darkgrayvio: hsl(273, 4%, 51%);
  --lightgray: hsl(0, 0%, 98%);
}
html {
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--lightgray);

}
h1,
h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}
h1 {
  font-size: 3.5rem;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 0 7rem;
}
.navbar .right .desktop ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar .right .desktop ul li a {
  text-decoration: none;
  color: var(--darkgrayvio);
  padding: 1rem 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.navbar .right .desktop ul li a:hover {
  color: var(--verydarkvio);
}
.navbar .right .desktop ul li:nth-child(3) {
  padding-right: 1rem;
}

.navbar .right .desktop ul li:last-child a {
  color: var(--verydarkvio);
  border: 2px solid var(--verydarkvio);
  padding: 0.6rem 1.6rem;
  transition: 300ms ease;
}
.navbar .right .desktop ul li:last-child a:hover {
  background-color: var(--verydarkvio);
  color: white;
}

/* mobile */

/* navbar */

/* hero */
.hero {
  position: relative;
  height: 850px;
  overflow: hidden;
}
.hero-container {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  color: white;
  background-color: var(--darkvio);
  height: 500px;
  overflow-y: visible;
  padding-bottom: 200px;
  margin-bottom: -200px;
}
#top-right-bg {
  position: absolute;
  right: -5%;
  top: -25%;
  height: 119%;
}
#bottom-left-bg {
  position: absolute;
  height: 50%;
  left: 0;
  bottom: 0;
}
.hero-container .left {
  padding: 3.5rem;
}
.hero-container .left h1 {
  padding-top: 2rem;
  width: 15ch;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.hero-container .left p {
  width: 55ch;
  margin-top: 0;
  color: var(--lightgray);
  margin-bottom: 2rem;
}
.hero-container .left a {
  transition: 300ms;
  font-weight: 700;
}

.border-deco {
  padding: 0 3.5rem;
  width: 100px;
  border-bottom: 2px solid var(--lightgray);
}

.hero .hero-container .right {
  padding: 4.5rem 3.5rem;
}

/* hero */
.details {
  display: flex;
  flex-direction: column;
  margin-top: -70px;
  padding: 0 7rem;
  width: 100%;
  padding-bottom: 5rem;
}
.details h1 {
  color: var(--darkvio);
}
.details .border-deco-2 {
  padding: 0 3.5rem;
  width: 100px;
  border-bottom: 2px solid lightgray;
}
.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: auto;
}

/* banner */

.banner {
  height: 280px;
  background-color: var(--darkvio);
  padding: 2rem;
  margin: 3rem 7rem;
  color: var(--lightgray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(images/bg-pattern-how-we-work-desktop.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60%;
}
.banner .left {
  flex: 1;
  padding: 0 1.5rem;
}
.banner .left h1 {
  width: 20ch;
}
.banner .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .right .btn {
  transition: 300ms;
  font-weight: 700;
}

/* banner */

/* footer */

.footer {
  padding: 1rem 7rem;
  background-color: hsl(0, 54%, 97%);
  background-image: url(images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  background-position: left top;
}
.footer .header-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
.social-media-icons ul {
  list-style: none;
  display: flex;
}
.sr-only {
  display: none;
}

.social-media-icons ul li {
  padding: 0 0.4rem;
}
.social-media-icons ul li a {
  color: var(--darkgrayvio);
}
.social-media-icons ul li a i {
  transition: 300ms ease;
}

.fa-twitter-square:hover {
  color: hsl(210, 82%, 64%);
}
.fa-facebook-square:hover {
  color: hsl(210, 87%, 49%);
}
.fa-instagram:hover {
  color: hsl(37, 89%, 58%);
}
.fa-pinterest-square:hover {
  color: rgb(216, 76, 76);
}
.content-footer {
  border-top: 1px solid hsla(0, 3%, 76%, 0.856);
  padding-top: 1.5rem;
}
.content-footer .grid {
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.content-footer .grid ul {
  list-style: none;
  padding-left: 0;
}
.content-footer .grid ul li {
  cursor: pointer;
  padding: 0.3rem 0;
  color: var(--verydarkvio);
  font-weight: 700;
}
.content-footer .grid ul li:hover {
  text-decoration: underline;
}
.content-footer .grid h4 {
  color: var(--darkgrayvio);
  text-transform: uppercase;
}
/* footer */

/* mobile */

.mobile {
  position: relative;
  display: none;
}
#checkbox_id {
  display: none;
}
#checkbox_id:checked + .mobile-menu {
  transform: translate(-50%, -19%);
}
.mobile-menu {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -1500px);
  display: none;
  z-index: 99;
  transition: 600ms;
}
.card-m {
  width: 700px;
  height: 550px;
  display: grid;
  place-items: start center;
  background-color: var(--verydarkvio);
  background-image: url(images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position-y: 180%;
  background-size: contain;
}
.menu {
  padding: 1.5rem;
  list-style: none;
  text-align: center;
}
.menu li {
  padding: 1rem 0;
}
.menu li a {
  text-decoration: none;
  color: var(--lightgray);
  text-transform: uppercase;
  font-size: 1.5rem;
  transition: 300ms ease;
}

/* mobile menu */

/* media queries */

@media (min-width: 1600px) {
  .wrapper {
    display: grid;
    justify-content: center;
    max-width: 1600px;
  }
  body {
    width: 100%;
    display: grid;
    place-items: center;
  }
}
@media (max-width:1000px){
    
    .banner {
        background-size: 70%;
      }

      .banner .left h1 {
        width: 15ch;
      }

      .banner .right .btn {
        margin: 0 1rem;
      }
}
@media (max-width: 923px) {
  .menu-d,
  .desktop {
    display: none;
  }
  .mobile,
  .mobile-menu {
    display: block;
  }
  nav {
    justify-content: space-between;
    padding: 0 2rem;
  }

  /* hero */
  .hero {
    height: 1500px;
    background-color: var(--darkvio);
    background-image: url(images/bg-pattern-intro-left-mobile.svg), url(images/bg-pattern-intro-right-mobile.svg);
    background-repeat: no-repeat;
    background-position: left 60%, right 130%;
    background-size: 200px,200px;
  }
  .hero-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    color: white;
    grid-auto-flow: dense;
    background-color: var(--darkvio);
    height: 500px;
    overflow-y: visible;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #top-right-bg,
  .border-deco,
  #bottom-left-bg {
    display: none;
  }

  .hero-container .left {
    padding: 3.5rem 1.5rem;
    display: grid;
    place-items: center;
    text-align: center;
    grid-row: 2;
    min-height: 50%;
    width: 100%;
  }

  .border-deco {
    padding: 0 3.5rem;
    width: 100px;
    border-bottom: 2px solid var(--lightgray);
  }

  .hero .hero-container .right {
    grid-row: 1;
    padding: 0;
  }
  .hero .hero-container .right img {
    width: 100%;
    height: auto;
  }

  /* details */
  .details {
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 7rem;
  }

  .grid .card {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  /* banner */

  .banner {
    height: auto;
    padding: 2rem;
    margin: 3rem;
    flex-direction: column;
    background-image: url(images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
  }
  .banner .left {
    flex: 1;
    padding: 0 1.5rem;
  }
  .banner .left h1 {
    width: auto;
    text-align: center;
  }
  .banner .right  {
    
  }

  /* footer */

  .footer {
    padding: 1rem 3rem;
    background-color: hsl(0, 54%, 97%);
    background-image: url(images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
    background-position: center -10%;
    background-size: 100%;
  }
  .footer .header-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    width: 100%;
  }
  .social-media-icons ul {
    list-style: none;
    display: flex;
    padding-left: 0;
  }
  .sr-only {
    display: none;
  }

  .social-media-icons ul li {
    padding: 0 0.4rem;
  }

  .content-footer {
    border-top: 1px solid hsla(0, 3%, 76%, 0.856);
    padding-top: 1.5rem;
  }

  .content-footer .grid .column {
    display: grid;
    place-items: center;
    text-align: center;
  }
  .content-footer .grid ul {
    list-style: none;
    padding-left: 0;
  }

  /* footer */

  @media (max-width: 683px) {
    .hero {
      height: 1200px;
      background-color: var(--darkvio);
    }
    .hero-container .left p,.hero-container .left h1 {
    width: 100%
    }

    .details h1{
        text-align: center;
        font-size: 2.5rem;
    }
    .card-m {
        width: 500px;
        height: 550px;
        display: grid;
        place-items: start center;
        background-color: var(--verydarkvio);
        background-image: url(images/bg-pattern-mobile-nav.svg);
        background-repeat: no-repeat;
        background-position-y: 180%;
        background-size: contain;
      }
      .banner{
          background-size: 80%;
      }
  }
  @media (max-width: 483px){
    .banner{
        background-size: 130%;
        
    }
    .hero {
        background-size: 400px,400px;
        max-width:500px;
      }
  }
  @media (max-width: 403px){
    .banner,.hero{
        background-image: none;
    }

  }

  /* hero */
}

/* utilities */
.btn {
  text-decoration: none;
  color: var(--lightgray);
  border: 1.5px solid var(--lightgray);
  padding: 0.6rem 1.5rem;
}
.card {
  width: 320px;
}
.card p {
  color: hsl(273, 4%, 51%);
}
h2 {
  color: var(--darkvio);
}
.hero-container .left .btn:hover,
.banner .right .btn:hover {
  background-color: var(--lightgray);
  color: var(--verydarkvio);
}
